* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}
header{
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  margin: 40px 50px 25px;
}
header p{
  margin: 0;
}

#regForm {
  background-color: #ffffff;
  margin: 30px auto 30px;
  font-family: Raleway;
  padding: 40px 0 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}
p{
  margin: 0;
}

.gen{
  margin-top: 10px;
}
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
input:focus{
  outline: none;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.rad{
  width: 20px;
}

select{
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

button {
  background-color: #269ed8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 30px;
}
button:focus{
  outline: none;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

.simp {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
#symptoms{
  width: 100px;
  margin-right: -25px;
}
#symptoms:focus{
  outline: none;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #269ed8;
}
.indicators{
  margin-top: 30px;
}

.btn{
  font-weight: bold;
  border: 1px solid #0081bf;
  color: #0081bf;
  border-radius: 0;
}
.btn:hover{
  color: white;
  background-color: #0081bf;
}
.btn-res{
  margin-top: 60px;
}
footer{
  text-align: center;
  font-weight: 500;
  background-color: #0081bf;
  padding: 10px;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}